.list {
    width: 50%;
    background-color: white;
    padding: 16px;
}

.list h4 {
    margin: 0px 0px 10px 5px;
}

.cover {
    width: 50%;
}

.cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}